//CSS Sass Variables 
:root {
    --header-font: 'Poppins', sans-serif;
    --main-font: 'Lato', sans-serif;
    --hover-color: #d98555;
    --site-color: #082B59;
    --page-color: #ffffff;
    --text-color: #ffffff;
    --text-hover-color: #d98555;
    --button-color: #59331D;
    --main-text-color: #000000;
}